# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

<> ESTO AGRUPA ELEMENTOS QUE QUEREMOS QUE ESTÉN SUELTOS EN JSX
className para los estylos en JSX

app.jsx

export default function App() {
  const title = "Hola Coder";

function getUsername (){
  return "Carmen"
}
function
getUserFavColor() {
  return "blue";
} 
const greetingStyle = {
        color: getUserFavColor(),
        fontSize: "32px"} 
