.item-card {
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    width: 250px;
    img {
        width: 150px;
        height: 150px;
    }
}

.div-products {
    display: flex; 
    gap: 50px;
    align-items: flex-start;
    flex-wrap: wrap;
}